{
  "app": "A Game of Theories",
  "connection": {
    "host": "localhost",
    "port": 5432,
    "database": "postgres",
    "user": "postgres",
    "password": "pass"
  },
  "connection_pool": {
    "min": 2,
    "max": 10
  },
  "connection_string": "postgres://postgres:pass@localhost/postgres",
  "email": "contact@agameoftheories.com",
  "nodemailer": {
      "host": "mail.privateemail.com",
      "port": 465,
      "secure": true,
      "auth": {
          "user": "contact@agameoftheories.com",
          "pass": "thepassword"
      }
  },
  "payload": {
    "alg": "HS256",
    "exp": 604800,
    "iss": "https://agameoftheories.com",
    "role": "agot_user",
    "scope": "agot_user"
  },
  "port": 3001,
  "schema": "api",
  "secret": "secret",
  "table": "users"
}
