{
  "connection": {
    "host": "localhost",
    "port": 5432,
    "database": "postgres",
    "user": "postgres",
    "password": "pass"
  },
  "connection_pool": {
    "min": 2,
    "max": 10
  },
  "connection_string": "postgres://postgres:pass@localhost/postgres",
  "payload": {
    "algorithm": "HS256",
    "audience": "https://agameoftheories.com",
    "expiration": 604800,
    "issuer": "https://agameoftheories.com",
    "role": "agot_user",
    "scope": "agot_user",
    "subject": "a_user"
  },
  "port": 3001,
  "schema": "api",
  "secret": "secret",
  "table": "users"
}
